---
- name: 'import prepare_filesystem task'
  import_tasks: 'prepare_filesystem.yaml'
  tags:
    - 'monitoring:filesystem'
    - 'monitoring:init'

- name: 'import create_config task'
  import_tasks: 'create_config.yaml'
  tags:
    - 'monitoring:config'
    - 'monitoring:init'

- name: 'import create_container task'
  import_tasks: 'create_container.yaml'
  tags:
    - 'monitoring:docker'
    - 'monitoring:init'

- name: 'import setup_grafana.yaml'
  import_tasks: 'setup_grafana.yaml'
  tags:
    - 'monitoring:grafana'
    - 'monitoring:init'
...
