---
- name: 'fail if passwords are not set'
  fail:
    msg: 'some passwords are not set! Please consult README.md to see which vars need to be set'
  when: 'monitoring_grafana_password is not defined or
         monitoring_influxdb_password is not defined or
         monitoring_influxdb_token is not defined'
  tags:
    - 'monitoring:init'
    - 'monitoring:always'

- name: 'import prepare_filesystem task'
  import_tasks: 'prepare_filesystem.yaml'
  tags:
    - 'monitoring:filesystem'
    - 'monitoring:init'

- name: 'import create_config task'
  import_tasks: 'create_config.yaml'
  tags:
    - 'monitoring:config'
    - 'monitoring:init'

- name: 'import create_container task'
  import_tasks: 'create_container.yaml'
  tags:
    - 'monitoring:docker'
    - 'monitoring:init'

- name: 'import setup_grafana.yaml'
  import_tasks: 'setup_grafana.yaml'
  tags:
    - 'monitoring:grafana'
    - 'monitoring:init'
  when: 'monitoring_init_grafana'
...
