---
- name: 'Create grafana folders'
  file:
    path: '{{ monitoring_docker_host_dir }}/{{ item }}'
    state: 'directory'
    owner: '{{ monitoring_grafana_filesystem_user }}'
  loop:
    - 'grafana/data'
    - 'grafana/conf'
  tags:
    - 'monitoring:filesystem'
    - 'monitoring:init'

- name: 'Create other folders folders'
  file:
    path: '{{ monitoring_docker_host_dir }}/{{ item }}'
    state: 'directory'
  loop:
    - 'influxdb/data'
    - 'influxdb/conf'
    - 'telegraf/data'
    - 'telegraf/conf'
  tags:
    - 'monitoring:filesystem'
    - 'monitoring:init'
...
